html,body{ margin:0; padding:0; height:100%; width:100%; }

/* .App {
  text-align: center;
} */

ul{
  list-style-type: none;
  display: block;
}

.rows {
  text-align: center;
}

.shelf-heading {
  width: 100%;
  background: rgb(17, 88, 23);
}

.main {
  display: block;
}



@media only screen and (max-width: 768px) {
  .shelf-heading {
    width: 100%;
    background-color: lightblue;
  }
}